.mine .mineHeader{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #ffd600;
	height: 11.5rem;
	padding-top: 2.0rem;
	color: #fff;
}
.mine .section{
	position: absolute;
	top: 13.5rem;
	left: 0;
	right: 0;
	bottom: 5.0rem;
	overflow: auto;
	background: #e0e0e0;
}
.mine .headerTop{
	position: relative;
	height: 8.0rem;
	background: url("../../../imgs/mine/people.png") no-repeat 2rem top;
	background-size: 6.0rem;
}
.mine .tel{
	line-height: 1;
	padding: 0.7rem 0;
	font-size: 1.5rem;
    font-weight: 700;
	margin-left: 9rem;
	font-size: 1.5rem;
}
.mine .level{
	margin-left: 9rem;
	height: 2.75rem;
	line-height: 2.75rem;
	background: url("../../../imgs/mine/me.png") no-repeat left;
	background-size: auto 2.75rem;
	text-indent: 3.0rem;
	color: #e64f1a;
	font-size: 1.3rem;
}
.mine .headerTop span{
	position: absolute;
	right: 2rem;
	top: 2rem;
	width: 1.2rem;
	height: 2.0rem;
	background: url("../../../imgs/mine/arrow.png") no-repeat left center;
	background-size: contain;
}
.mine .headerBottom{
	background-color: #f3c800;
	height: 3.5rem;
	display: flex;
}
.mine .headerBottom>div{
	width: 50%;
	text-align: center;
	height: 3.5rem;
	line-height: 3.5rem;
}
.mine .headerBottom>div span{
	display: inline-block;
	width: 9.0rem;
	height: 2.0rem;
	line-height: 2.0rem;
	text-indent: 2.5rem;
	font-size: 1.2rem;
}
.mine .goodsShop span{
	background: url("../../../imgs/mine/a.png") no-repeat left center;
	background-size: 1.8rem;
}
.mine .storeShop span{
	background: url("../../../imgs/mine/b.png") no-repeat left center;
	background-size: 1.8rem;
}
.mine .order{
	margin-top: 1rem;
	padding: 1rem 2.5rem 1rem 1rem;
	border-bottom: 1px solid #e0e0e0;
	background:#fff url("../../../imgs/mine/ar.png") no-repeat right center;
	background-size: 2rem;
}
.mine .allOrder{
	float: left;
	font-size: 1.4rem;
	color: #333;
}
.mine .checkOrder{
	float: right;
}
.mine .picTit{
	background: #fff;
}
.mine .picTit ol{
	display: flex;
}
.mine .picTit li{
	font-size: 0;
	text-align: center;
	width: 25%;
	padding-top: 2rem;
}
.mine .picTit img{
	width: 25%;
}
.mine .picTit p{
	line-height: 3rem;
	color: #333;
	font-size: 1.2rem;
}
.mine .imgList{
	margin-top: 1rem;
	background: #fff;
}
.mine .imgList ul{
	display: flex;
	flex-wrap: wrap;
}
.mine .imgList li{
	padding: 3.0rem 0 1.0rem 0;
	width: 25%;
	text-align: center;
	border-bottom:  1px solid #e0e0e0;
}
.mine .imgList img{
	width: 50%;
}
.mine .imgList p{
	line-height: 3.0rem;
}
.mine .imgList li:last-of-type{
	border-bottom: none;
}



