/* -------section------ */
.home section{
	position: absolute;
	top: 4.5833rem;
	bottom: 5.0rem;
	left: 0;
	right: 0;
	overflow: auto;
}
.home .swiper-wrapper img{
	width: 100%;
}
.home .my-swiper{
	font-size: 0;
}
.home section{
	background-color: #efefef;
}
.home .nav ul{
	display: flex;
}
.home .nav li{
	width: 25%;
	text-align: center;
	color: #353d44;
	font: 1.2rem;
}
.home .nav img{
	width: 6.6667rem;
}
.home .nav ul{
	margin: 1.0rem 0;
	padding: 0.7995rem;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
}
.home .pic{
	font-size: 0;
	overflow: hidden;
	/* overflow-x: auto; */
}
.home .pic ul{
	display: flex;
	width: 166%;
}
.home .pic li{
	width: 33%;
	border-right:1px solid #e0e0e0;
}
.home .pic img{
	width: 100%;
}
.home .pic li:nth-of-type(3){
	border-right: none;
}
.home .picList{
	background: #fff;
	margin: 1.0rem 0;
	font-size: 0;
}
.home .picList ul{
	display: flex;
}
.home .floor1 img{
	width: 100%;
}
.home .floor2{
	margin: 0 0.5rem;
}
.home .floor2 li{
	padding: 0.5rem;
	width: 50%;
}
.home .floor2 img{
	width: 100%;
}
.home .floor3{
	margin-bottom: 1.0rem;
}
.home .floor3 p{
	font-size: 1.2rem;
	color: #333;
}
.home .floor3 li{
	width: 25%;
	text-align: center;
}
.home .floor3 img{
	width: 100%;
}
.home .floor4{
	border-top: 1px solid #e0e0e0;
}
.home .floor4 li{
	width: 50%;
}
.home .floor4 img{
	width: 100%;
}
.home .floor4 li:nth-of-type(1){
	border-right: 1px solid #e0e0e0;
}

.home .goodsfloor ol{
	display: flex;
}
.home .goodsfloor img{
	width: 100%;
}
.home .goodsfloor li{
	margin-bottom: 1.0rem;
	background: #fff;
}
.home .floorTitle{
	line-height: 4.0rem;
	padding: 0 1rem;
	font-size: 1.4rem;
	position: relative;
}

.home .floorTitle .more{
	float: right;
	font-size: 1.2rem;
	color: #333;
	position: relative;
	margin-right: 2.0rem;
}
.home .floorTitle .more:after{
	position: absolute;
	top: 50%;
	left: 3rem;
	transform: translateY(-50%);
	content: "";
	display: inline-block;
	height: 4.0rem;
	width: 2.0rem;
	background: url("../../../imgs/home/more.png") no-repeat center center;
	background-size: 100%;
}
.home .floorImg{
	padding: 0 1rem .5rem;
}
.home .goodsfloor ol li{
	border-right: 1px solid #e0e0e0;
	padding: 0 .5rem;
	width: 29%;
	position: relative;
}
.home .goodsfloor ol li:last-of-type{
	border-right: none;
}
.home .goodsName{
	font-size: 1.2rem;
	line-height: 2.0rem;
	color: #232b33;
}
.home .goods-promotion{
	line-height: 2.0rem;
}
.home .goods-select{
	font-size: 1rem;
	padding: .1rem .3rem;
	display: inline-block;
	color: red;
	border-radius: .4rem;
	margin-right: .3rem;
	border: 1px solid red;
	line-height: 1rem;
	vertical-align: .1rem;
}
.home .goods-provilege{
	background: red;
	color: #fff;
}
.home .goodsWeight{
	color: #999;
	font-size: 1.2rem;
	line-height: 2.0rem;
}
.home .price{
	color: #ff3800;
	font-size: 1.2rem;
	line-height: 2.0rem;
}
.home .prePrice{
	color: #999;
	font-size: 1.2rem;
	line-height: 2.0rem;
	text-decoration: line-through;
}
.home .sellect-amount{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10.0rem;
	height: 5.0rem;
}
.home .add{
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	width: 5.0rem;
	height: 5.0rem;
	z-index: 2;
}
.home .inner{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2.6rem;
	height: 2.6rem;
	border: 1px solid #ff4300;
	border-radius: 50%;
}
.home .add .inner{
	background: #ff4300 url("../../../imgs/home/jian.png") no-repeat -2.6rem center;
	background-size: 200% auto;
}